body {
    background-image: url(bakgrund.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }



h1{
   color: white;
   position: absolute;
   transform: translate(50%,-50%);
   left: 0%;
   top: 20%;
}

.spelstart {
    position: absolute;
    transform: translate(50%,-50%);
    left: 13%;
    top: 35%;
    width: 200px;
    height:50px;
}

.btn1{
    text-decoration: none;

}