body {
    background-image: url(bakgrund.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
   color: white;
   position: absolute;
   transform: translate(50%,-50%);
   left: 0%;
   top: 20%;
}

.spelstart {
    position: absolute;
    transform: translate(50%,-50%);
    left: 9%;
    top: 35%;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    font-size: 50px;
}

.btn1{
    text-decoration: none;
    color: black;
}

.btn1:hover{
    color:white;
}