body {
    /* Fixar bakgrunden genom att lägga till no repeat, cover och fixed */
    background-image: url(bakgrund.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    /* Possition och färg på min rubrik på startsidan */
   color: white;
   position: absolute;
   transform: translate(50%,-50%);
   left: 0%;
   top: 20%;
}

.spelstart {
    /* Possitionerar, gör min button transparent (dvs ingen bakgrund), och bestämmer storlek  */
    position: absolute;
    transform: translate(50%,-50%);
    left: 9%;
    top: 35%;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    font-size: 50px;
}

.btn1{
    /* Färgen på min buttons text fixas här  */
    text-decoration: none;
    color: grey;
}

.btn1:hover{
    /* Om man håller över texten på min button så ska textern bli vit */
    color:white;
}